.content-header-picks
  span
    float: right
    font-size: 1.1em
    padding: 2.5px 6px

  .pagination li a
    padding: 4px 8px

.content-picks
  padding-top: 45px

  .team-logo
    padding-right: 0 !important
    width: 25px

    img
      width: 25px
