.alert
  margin-top: 20px

.btn-set-picks
  margin-left: 30px
  padding: 4px 8px
  position: absolute

.content-header-picks
  span
    float: right
    font-size: 1.1em
    padding: 2.5px 6px

  .pagination li a
    padding: 4px 8px

.content-legend
  td:nth-child(odd)
    width: 15px

.content-picks
  padding-top: 45px

  .team-logo
    padding-right: 0 !important
    width: 25px

    img
      width: 25px

table.game-picks
  margin-bottom: 0

  th:first-child
    width: 100%

  .spread
    padding: 3px 0 0 0
    text-align: center

    img
      width: 30px
